@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton');
@font-face {
  font-family: sf-apple;
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
    background-color: #2e3440;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#clock {
    font-family: sf-apple;
    font-size: 4.0rem;
    letter-spacing: 0.3rem;
    color: #8fbcbb;
    margin-bottom: .25em;
}

#search {
    width: 100%;
    height: 100vh;
    background-color: #3b4252;
    display: none;
    position: absolute;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search-field {
    width: 90%;
    padding: .75em 1em;
    box-sizing: border-box;
    background-color: #434c5e;
    border: solid 0px #3b4252;
    font-family: sf-apple;
    font-size: 4rem;
    color: #e5e9f0;
    outline: none;
    border-radius: 3px;
    margin-bottom: 1em;
    text-align: center;
}

.weather-container {
    width: 30%;
    background-color: #434c5e;
    padding: 1em;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: 1.2rem;
    color: #88c0d0;
    text-align: center;
}
.inline {
    display: inline-block;
}

.bookmark-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    margin: 1em 0em;
}

@media only screen and (max-width: 960px) {
    .container {
        height: auto;
    }
    #clock {
        margin-top: 1em;
    }
    .container > .bookmark-container {
        flex-direction: column;
        width: 60%;
    }
    .bookmark-container > .bookmark-set {
        width: auto;
        margin: 1em 0em;
    }
}

.bookmark-set{
    padding: 1em;
    background-color: #3b4252;
    border-radius: 3px;
    font-family: "Roboto Mono";
    font-size: .85rem;
    width: 25%;
    height: 16em;
    margin: 0em .5em;
}
.bookmark-inner-container {
    overflow-y: scroll;
    height: 80%;
    vertical-align: top;
}
.bookmark-title {
    font-family: "Roboto";
    font-size: 1.2rem;
    font-weight: 600;
    color: #81a1c1;
    margin: 0em 0em .35em 0em;
}
.bookmark {
    text-decoration: none;
    color: #5e81ac;
    display:block;
    margin: .4em 0em;
}
.bookmark:hover {
    color: #d8dee9;
}

.city-name {
    font-family: "Roboto Mono";
    font-size: 0.9rem;
    color: #88c0d0;
    margin-top: 5px;
    text-align: center;
}
